/* Global */
* {
    font-family:"Alumni Sans Pinstripe", sans-serif;
    font-weight: bold;
}
.background {
    background-color: #222222;
    background-size: cover;
    min-height: 100vh;
}
.outlet {
  padding: 1% 1% 0% 1%;
}
.col {
  display: block;
}

/* Sidebar size, colour & transition */
.sidebar, .sidebar .list-group-item {
  font-family:"Bebas Neue", sans-serif !important;
  font-weight:500;
}
.sidebar {
  width: 10vw !important;
  background-color: #638e7c;
}
.sidebar-btn {
  color: #638e7c;
  transition: color 0.3s ease-in-out;
}
.sidebar-btn:hover {
  color: white;
}
.sidebar .list-group-item {
  background-color: #638e7c;
  border: none;
}
.list-group-item.active {
  background-color: #456357;
  color: white;
}

/* Navbar logo size, colour & transition*/
.navbar {
  background: #222222;
}
.navbar-logo-container {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 35px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease-in-out;
}
.logo-white {
  opacity: 0;
}
.navbar-logo-container:hover .logo-white {
  opacity: 1;
}
.navbar-logo-container:hover .logo-green {
  opacity: 0;
}

/* Search bar's width */
.search-bar {
  padding: 0px 15vw;
}

/* Cards */
.card {
  background-color: transparent;
  border: none;
}
.card-img-top {
  transition: transform 0.15s ease-in-out;
}
.card:hover .card-img-top {
  transform: scale(1.05);
}
.card-header {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  transition: color 0.3s ease-in-out;
}
.card-header:hover {
  color: #456357;
}

/* MoviesPage */
.backdrop img {
  width: 100%;
  object-fit: fill;
}
.preview-title, .preview-overview, .preview-release-year, .preview-genres {
  padding: 0%;
}
.preview-title {
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 1.25em;
  color: white;
}
.preview-overview {
  font-size: 0.95em;
  font-weight: 300;
}
.preview-genres span {
  font-size: 0.85em;
  font-family: "Bebas Neue";
}
.badge-green {
  background-color: #456357;
  color: white;
  transition: background-color 0.2s ease-in-out;
}
.badge-green:hover {
  background-color: #638e7c;
}
.movies-scroll {
  max-height: 90vh;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.movies-scroll::-webkit-scrollbar {
  display: none;
}