/* Global */
* {
    font-family:"Alumni Sans Pinstripe", sans-serif;
    font-weight: bold;
}
.background {
    background-color: #222222;
    background-size: cover;
    min-height: 100vh;
}

/* Sidebar size, colour & transition */
.sidebar, .sidebar .list-group-item {
  font-family:"Bebas Neue", sans-serif !important;
}
.sidebar {
  width: 10vw !important;
  background-color: #638e7c;
}
.sidebar-btn {
  color: #638e7c;
  transition: color 0.3s ease-in-out;
}
.sidebar-btn:hover {
  color: white;
}
.list-group-item {
  background-color: #638e7c;
  border: none;
}
.list-group-item.active {
  background-color: #456357;
  color: white;
}


/* Navbar logo size, colour & transition*/
.navbar-logo-container {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 35px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease-in-out;
}
.logo-white {
  opacity: 0;
}
.navbar-logo-container:hover .logo-white {
  opacity: 1;
}
.navbar-logo-container:hover .logo-green {
  opacity: 0;
}

/* Search bar's width */
.search-bar {
  padding: 0px 15vw;
}


